$joly: "joly-display", sans-serif;
$eaves: "ff-tisa-sans-web-pro", "Segoe UI", "Arial", sans-serif;
$eavesn: "mr-eaves-xl-modern-narrow", serif;
$mono: "Cascadia Code", "Fira Code", "Menlo", Consolas, "Courier New", monospace;
$faded-blue: rgba(120, 169, 237, 0.379);
$mid-gray: #888888;
$anchor-color-dark: #4d91da;
$anchor-color-light: #005bbc;